In [6]:
import pandas as pd 

df = pd.read_excel("Online Retail.xlsx")

In [7]:
stock_info = df[["StockCode","Description"]].drop_duplicates()
print (df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

In [8]:
stock_info.to_excel("stock_info.xlsx",index=False)
print(stock_info)

       StockCode                          Description
0         85123A   WHITE HANGING HEART T-LIGHT HOLDER
1          71053                  WHITE METAL LANTERN
2         84406B       CREAM CUPID HEARTS COAT HANGER
3         84029G  KNITTED UNION FLAG HOT WATER BOTTLE
4         84029E       RED WOOLLY HOTTIE WHITE HEART.
...          ...                                  ...
537224    47591b             SCOTTIES CHILDRENS APRON
537621    85123A   CREAM HANGING HEART T-LIGHT HOLDER
538554     85175                                  NaN
538919     23169                              smashed
540421     23843          PAPER CRAFT , LITTLE BIRDIE

[5752 rows x 2 columns]

In [9]:
df["Total"]= df["Quantity"] * df["UnitPrice"]
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  Total
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom  15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom  20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom  22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom  20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom  20.34

In [10]:
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  Total
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom  15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom  20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom  22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom  20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom  20.34

fixing date and price decimal points in excel

In [11]:
df["InvoiceDate"]=pd.to_datetime(df['InvoiceDate'])
df["Total"]= pd.to_numeric(df['Total'], errors = 'coerce')
df["Total"]= df['Total'].apply(lambda x: "{:.2f}".format(x))
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  Total
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom  15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom  20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom  22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom  20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom  20.34

In [12]:
df.to_excel("withtotal.xlsx",index = False)

In [13]:
buy_info= df[["CustomerID","Total"]].copy()
print(buy_info)

        CustomerID  Total
0          17850.0  15.30
1          17850.0  20.34
2          17850.0  22.00
3          17850.0  20.34
4          17850.0  20.34
...            ...    ...
541904     12680.0  10.20
541905     12680.0  12.60
541906     12680.0  16.60
541907     12680.0  16.60
541908     12680.0  14.85

[541909 rows x 2 columns]

In [14]:
buy_info.to_excel("buy_info.xlsx",index=False)

In [15]:
buy_info["Total"]= pd.to_numeric(buy_info['Total'], errors = 'coerce')
customer_buyout=buy_info.groupby("CustomerID")["Total"].sum().reset_index()

In [16]:

customer_buyout.rename(columns={"Total": "Total Buyout"}, inplace=True)

In [17]:
customer_buyout.to_excel("customer_buyout.xlsx", index=False)

In [18]:
#print(df[df["CustomerID"] == 12346])  - verification

In [19]:
#print(df[df["CustomerID"] == 12347]["Total"].sum())

In [20]:
#print(buy_info[buy_info["CustomerID"] == 12347])
#buy_info["Total"]= pd.to_numeric(buy_info['Total'], errors = 'coerce')
#print(buy_info[df["CustomerID"] == 12347]["Total"].sum())

In [21]:
buy_info["Total"]= pd.to_numeric(buy_info['Total'], errors = 'coerce')
total_buyout = buy_info["Total"].sum()
print("Total Buyout:", round(total_buyout,2))

Total Buyout: 9747747.93

In [22]:
print(buy_info["Total"].describe())

count    541909.000000
mean         17.987795
std         378.810824
min     -168469.600000
25%           3.400000
50%           9.750000
75%          17.400000
max      168469.600000
Name: Total, dtype: float64

In [23]:
top_buyer = buy_info.groupby("CustomerID")["Total"].sum().sort_values(ascending=False).head(10)
print(top_buyer)

CustomerID
14646.0    279489.02
18102.0    256438.49
17450.0    187482.17
14911.0    132572.62
12415.0    123725.45
14156.0    113384.14
17511.0     88125.38
16684.0     65892.08
13694.0     62653.10
15311.0     59419.34
Name: Total, dtype: float64

In [29]:
# Step 1: Filter cancelled orders
cancelled_items = df[df["InvoiceNo"].astype(str).str.startswith("C")]

print(cancelled)

       InvoiceNo StockCode                       Description  Quantity  \
141      C536379         D                          Discount        -1
154      C536383    35004C   SET OF 3 COLOURED  FLYING DUCKS        -1
235      C536391     22556    PLASTERS IN TIN CIRCUS PARADE        -12
236      C536391     21984  PACK OF 12 PINK PAISLEY TISSUES        -24
237      C536391     21983  PACK OF 12 BLUE PAISLEY TISSUES        -24
...          ...       ...                               ...       ...
540449   C581490     23144   ZINC T-LIGHT HOLDER STARS SMALL       -11
541541   C581499         M                            Manual        -1
541715   C581568     21258        VICTORIAN SEWING BOX LARGE        -5
541716   C581569     84978  HANGING HEART JAR T-LIGHT HOLDER        -1
541717   C581569     20979     36 PENCILS TUBE RED RETROSPOT        -5

               InvoiceDate  UnitPrice  CustomerID         Country    Total
141    2010-12-01 09:41:00      27.50     14527.0  United Kingdom   -27.50
154    2010-12-01 09:49:00       4.65     15311.0  United Kingdom    -4.65
235    2010-12-01 10:24:00       1.65     17548.0  United Kingdom   -19.80
236    2010-12-01 10:24:00       0.29     17548.0  United Kingdom    -6.96
237    2010-12-01 10:24:00       0.29     17548.0  United Kingdom    -6.96
...                    ...        ...         ...             ...      ...
540449 2011-12-09 09:57:00       0.83     14397.0  United Kingdom    -9.13
541541 2011-12-09 10:28:00     224.69     15498.0  United Kingdom  -224.69
541715 2011-12-09 11:57:00      10.95     15311.0  United Kingdom   -54.75
541716 2011-12-09 11:58:00       1.25     17315.0  United Kingdom    -1.25
541717 2011-12-09 11:58:00       1.25     17315.0  United Kingdom    -6.25

[9288 rows x 9 columns]

In [30]:

most_cancelled_items = (
    cancelled_items.groupby("Description")["Quantity"]
    .sum()
    .sort_values(ascending=True)  
)


print(most_cancelled_items.head(10))

Description
PAPER CRAFT , LITTLE BIRDIE           -80995
MEDIUM CERAMIC TOP STORAGE JAR        -74494
ROTATING SILVER ANGELS T-LIGHT HLDR    -9376
Manual                                 -4066
FAIRY CAKE FLANNEL ASSORTED COLOUR     -3150
PINK BLUE FELT CRAFT TRINKET BOX       -2617
WHITE HANGING HEART T-LIGHT HOLDER     -2578
GIN + TONIC DIET METAL SIGN            -2030
HERB MARKER BASIL                      -1527
FELTCRAFT DOLL MOLLY                   -1447
Name: Quantity, dtype: int64

In [31]:
most_cancelled_customers = (
    cancelled_items.groupby("CustomerID")["Quantity"]
    .sum()
    .sort_values(ascending=True)  # ascending because quantities are negative
)
print(most_cancelled_customers.head(10))

CustomerID
16446.0   -80995
12346.0   -74215
15838.0    -9361
15749.0    -9014
16029.0    -8060
12931.0    -4627
14607.0    -3768
14911.0    -3335
17949.0    -2975
12901.0    -2160
Name: Quantity, dtype: int64

In [33]:
def generate_report(df):
    # Convert necessary columns to numeric
    df["Quantity"] = pd.to_numeric(df["Quantity"], errors="coerce")
    df["Total"] = pd.to_numeric(df["Total"], errors="coerce")

    # Cancelled data
    cancelled = df[df["InvoiceNo"].astype(str).str.startswith("C")]

    print("ðŸ“‰ Most Cancelled Items (by quantity):")
    print(
        cancelled.groupby("Description")["Quantity"]
        .sum()
        .sort_values()
        .head(10)
    )
    print("\nðŸ‘¥ Most Cancelled Customers (by quantity):")
    print(
        cancelled.groupby("CustomerID")["Quantity"]
        .sum()
        .sort_values()
        .head(10)
    )
    print("\nðŸ’¸ Most Cancelled Customers (by value):")
    print(
        cancelled.groupby("CustomerID")["Total"]
        .sum()
        .sort_values()
        .head(10)
    )

    print("\nðŸ”¥ Top Selling Items (by quantity):")
    print(
        df.groupby("Description")["Quantity"]
        .sum()
        .sort_values(ascending=False)
        .head(10)
    )

    print("\nðŸ’° Top Earning Customers (by total purchase):")
    print(
        df.groupby("CustomerID")["Total"]
        .sum()
        .sort_values(ascending=False)
        .head(10)
    )

In [34]:
generate_report(df)

ðŸ“‰ Most Cancelled Items (by quantity):
Description
PAPER CRAFT , LITTLE BIRDIE           -80995
MEDIUM CERAMIC TOP STORAGE JAR        -74494
ROTATING SILVER ANGELS T-LIGHT HLDR    -9376
Manual                                 -4066
FAIRY CAKE FLANNEL ASSORTED COLOUR     -3150
PINK BLUE FELT CRAFT TRINKET BOX       -2617
WHITE HANGING HEART T-LIGHT HOLDER     -2578
GIN + TONIC DIET METAL SIGN            -2030
HERB MARKER BASIL                      -1527
FELTCRAFT DOLL MOLLY                   -1447
Name: Quantity, dtype: int64

ðŸ‘¥ Most Cancelled Customers (by quantity):
CustomerID
16446.0   -80995
12346.0   -74215
15838.0    -9361
15749.0    -9014
16029.0    -8060
12931.0    -4627
14607.0    -3768
14911.0    -3335
17949.0    -2975
12901.0    -2160
Name: Quantity, dtype: int64

ðŸ’¸ Most Cancelled Customers (by value):
CustomerID
16446.0   -168469.60
12346.0    -77183.60
15098.0    -39267.00
16029.0    -30032.23
15749.0    -22998.40
12744.0    -12158.90
14911.0    -11252.44
12931.0     -8593.15
12536.0     -8495.01
14096.0     -8043.88
Name: Total, dtype: float64

ðŸ”¥ Top Selling Items (by quantity):
Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS     53847
JUMBO BAG RED RETROSPOT               47363
ASSORTED COLOUR BIRD ORNAMENT         36381
POPCORN HOLDER                        36334
PACK OF 72 RETROSPOT CAKE CASES       36039
WHITE HANGING HEART T-LIGHT HOLDER    35317
RABBIT NIGHT LIGHT                    30680
MINI PAINT SET VINTAGE                26437
PACK OF 12 LONDON TISSUES             26315
PACK OF 60 PINK PAISLEY CAKE CASES    24753
Name: Quantity, dtype: int64

ðŸ’° Top Earning Customers (by total purchase):
CustomerID
14646.0    279489.02
18102.0    256438.49
17450.0    187482.17
14911.0    132572.62
12415.0    123725.45
14156.0    113384.14
17511.0     88125.38
16684.0     65892.08
13694.0     62653.10
15311.0     59419.34
Name: Total, dtype: float64

In [43]:
customer_item_summary = (
    df.groupby(["CustomerID", "Total"]
    .agg({
        "Quantity": "sum",
    })
    .sort_values(by="Total", ascending=False)
)

print(customer_item_summary.head(20))

AttributeError: 'list' object has no attribute 'sum'

In [40]:
top_customer_id = df.groupby("CustomerID")["Total"].sum().idxmax()  # this will give 14646.0
top_customer_purchases = df[df["CustomerID"] == top_customer_id]

summary = (
    top_customer_purchases.groupby("Description")[["Quantity", "Total"]]
    .sum()
    .sort_values(by="Total", ascending=False)
)

print(summary.head(10))  # top 10 items this customer bought

                                     Quantity    Total
Description
RABBIT NIGHT LIGHT                       4801  9568.48
ROUND SNACK BOXES SET OF4 WOODLAND       3120  7956.00
SPACEBOY LUNCH BOX                       4492  7415.40
DOLLY GIRL LUNCH BOX                     4096  6758.40
ROUND SNACK BOXES SET OF 4 FRUITS        1584  4039.20
JUMBO BAG RED RETROSPOT                  2000  3468.00
RED TOADSTOOL LED NIGHT LIGHT            2376  3459.60
REGENCY CAKESTAND 3 TIER                  288  3153.60
5 HOOK HANGER RED MAGIC TOADSTOOL        2016  2923.20
JUMBO BAG WOODLAND ANIMALS               1500  2629.00